

<%if (typeof feedback != 'undefined') { %>
    <br><br><br>
    <%if (feedback.error == 0) { %>
        <div class="alert alert-success" role="alert">
            <%- feedback.msg %>
        </div>
    <% } %>
    <%if (feedback.error == 1) { %>
        <div class="alert alert-danger" role="alert">
            <%- feedback.msg %>
        </div>
    <% } %>

<% } %>
<br><br><br>
<div class="row">

    <div class="col-md-7 col-sm-12">
        <h4>Configurações:</h4>
        <br>
        <form method="POST" action="/api/project/generate">
            <div class="form-group" id="project-framework">
                <label for="selectFramework">Framework: <span style="color: red">*</span></label>
                <select name="framework" @change="onChange" class="form-control" id="selectFramework" ref="framework">
                    <option value="angular">Angular (2+)</option>
                    <option value="react">React</option>
                    <option value="vue">Vue</option>
                </select>
            </div>
            <div class="form-group" id="project-path">
                <label for="inputProject">Caminho local do Projeto: <span style="color: red">*</span></label>
                <input type="text" name="path" @blur="onBlur" ref="path" class="form-control" id="inputProject" required>
            </div>
            <div id="path-validation">
                <div class="alert" v-bind:class="alerttype" v-if="info" role="alert">
                    {{ info }}
                </div>
            </div>
            <div id="toolkit-validation">
                <div class="form-group">
                    <label for="selectToolkit">Toolkit Visual: <span style="color: red">*</span></label>
                    <select name="toolkit" class="form-control" @change="onChange" id="selectToolkit" ref="toolkit">
                        <option value="bootstrap">Bootstrap</option>
                        <option value="materialize">Materialize-css</option>
                        <option value="ngmaterial">Angular Material</option>
                    </select>
                </div>    
                <div class="alert alert-warning" v-if="toolkitwarning" role="alert">
                    {{ toolkitwarning }}
                </div>
            </div>
            <div class="form-group" id="project-model">
                <label for="inputModel">Nome do Modelo: <span style="color: red">*</span></label>
                <input type="text" name="model" @input="onInput" class="form-control" id="inputModel" placeholder="Ex: funcionario, usuario, post." ref="model" required>
            </div>
            <br>
            <h4>Atributos:</h4>
            <br>
            <div class="form-group" id="add-btn">
                <input type="button" class="btn btn-success" @click="addLine" value="Adicionar">
            </div>

            <div id="attr-list">
                <div class="row mt-3" v-for="attr in attributes">
                    <div class="col-4">
                        <label>Atributo:</label>
                        <input type="text" class="form-control" name="attrName">
                    </div>
                    <div class="col-3">
                        <label>Tipo:</label>
                        <select class="form-control" name="attrType">
                            <option value="text">Texto</option>
                            <option value="number">Número</option>
                            <option value="password">Senha</option>
                            <option value="email">E-mail</option>
                            <option value="checkbox">Caixa de Seleção</option>
                            <option value="textarea">Área de Texto</option>
                            <option value="select">Lista</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <button id="btn-submit" :disabled="isDisabled" type="submit" class="btn" v-bind:class="btntype">{{ submitText }}</button>
        </form>        
    </div>

    <div class="col-md-5 col-sm-12">
        <h4>Arquivos gerados:</h4>
        <br><br>
        <div class="card" id="card-view">
            <div class="card-body">
                <ul v-if="model && framework == 'angular'">
                    <li>{{model}}</li>
                    <ul>
                        <li>{{model}}Form</li>
                        <ul>
                            <li>{{model}}Form.component.html</li>
                            <li>{{model}}Form.component.ts</li>
                            <li>{{model}}Form.component.css</li>
                        </ul>
                        <li>{{model}}List</li>
                        <ul>
                            <li>{{model}}List.component.html</li>
                            <li>{{model}}List.component.ts</li>
                            <li>{{model}}List.component.css</li>
                        </ul>
                    </ul>
                </ul>
                <div v-if="!model && framework == 'angular'">
                    <p>Nenhum modelo definido.</p>
                </div>
                <div v-if="framework != 'angular'">
                    <p style="color: red">Framework ainda não suportado.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
